In [5]:
import pandas as pd

# Leer los archivos me2l y mb51
me2l_df = pd.read_excel('ME2L_acmanet010224.xlsx')  
mb51_df = pd.read_excel('MB51acmanet0102.xlsx')  


merged_df = pd.merge(me2l_df, mb51_df, on='OC', how='inner')  


merged_df['DiasHabiles'] = (merged_df['Fecha de entrada'] - merged_df['Fecha de entrega']).dt.days


result_df = merged_df[['Nombre del proveedor', "OC",'Fecha de entrega','Fecha de entrada',"Texto breve","Cantidad de pedido", 'Ctd.en UM entrada', 'DiasHabiles']]

result_df.head()

,Nombre del proveedor,OC,Fecha de entrada,Cantidad de pedido,Fecha de entrega,Texto breve,Cantidad de pedido,Ctd.en UM entrada,DiasHabiles
0,114750859 Fernando Segundo Vargas,5300013327,2024-02-01,350.0,2024-01-31,GANCHOS DE MALLAS,350.0,1.0,1
1,114750859 Fernando Segundo Vargas,5300013327,2024-02-01,350.0,2024-01-31,GANCHOS DE MALLAS,350.0,350.0,1
2,114750859 Fernando Segundo Vargas,5300013327,2024-02-01,350.0,2024-01-31,GANCHOS DE MALLAS,350.0,250.0,1
3,114750859 Fernando Segundo Vargas,5300013327,2024-02-01,250.0,2024-01-31,GANCHOS DE POSTES,250.0,1.0,1
4,114750859 Fernando Segundo Vargas,5300013327,2024-02-01,250.0,2024-01-31,GANCHOS DE POSTES,250.0,350.0,1

In [7]:
result_df.to_excel('resultado0102.xlsx', index=False)

In [9]:
def encontrar_filas_duplicadas(df):
    duplicadas = df[df.duplicated(keep=False)]
    return duplicadas


# Encontrar filas duplicadas
filas_duplicadas = encontrar_filas_duplicadas(result_df)

# Mostrar el resultado
print("Filas duplicadas en todas las columnas:")
print(filas_duplicadas)

Filas duplicadas en todas las columnas:
                     Nombre del proveedor          OC Fecha de entrada  \
18    884741009  Agen de Adua E Mewes Ram  5300013318       2024-02-01
19    884741009  Agen de Adua E Mewes Ram  5300013318       2024-02-01
20    884741009  Agen de Adua E Mewes Ram  5300013318       2024-02-01
21    884741009  Agen de Adua E Mewes Ram  5300013318       2024-02-01
22    884741009  Agen de Adua E Mewes Ram  5300013318       2024-02-01
...                                   ...         ...              ...
5344               767289502  Madepal SPA  5100007460       2024-01-26
5347           77256239K  La & Perven SPA  5100007461       2023-12-21
5348           77256239K  La & Perven SPA  5100007461       2024-01-10
5349           77256239K  La & Perven SPA  5100007461       2023-12-21
5350           77256239K  La & Perven SPA  5100007461       2024-01-10

      Cantidad de pedido Fecha de entrega  \
18                   1.0       2024-01-30
19                   1.0       2024-01-30
20                   1.0       2024-01-30
21                   1.0       2024-01-30
22                   1.0       2024-01-30
...                  ...              ...
5344               100.0       2023-08-30
5347               100.0       2023-09-01
5348               100.0       2023-09-01
5349               100.0       2023-09-01
5350               100.0       2023-09-01

                                   Texto breve  Cantidad de pedido  \
18    gastos de exportacion a Maddio-Argentina                 1.0
19    gastos de exportacion a Maddio-Argentina                 1.0
20    gastos de exportacion a Maddio-Argentina                 1.0
21        gastos de exportacion a Cyma-Uruguay                 1.0
22        gastos de exportacion a Cyma-Uruguay                 1.0
...                                        ...                 ...
5344                Pallet Mp240 2430 x 2530mm               100.0
5347                 Pallet 7GP de 1830 x 2530               100.0
5348                 Pallet 7GP de 1830 x 2530               100.0
5349                 Pallet 7GP de 1830 x 2530               100.0
5350                 Pallet 7GP de 1830 x 2530               100.0

      Ctd.en UM entrada  DiasHabiles
18                  1.0            2
19                  1.0            2
20                  1.0            2
21                  1.0            2
22                  1.0            2
...                 ...          ...
5344               25.0          149
5347               25.0          111
5348               25.0          131
5349               25.0          111
5350               25.0          131

[3120 rows x 9 columns]

In [10]:
def eliminar_filas_duplicadas(df):
    # Encuentra las filas duplicadas en todas las columnas
    duplicadas = df[df.duplicated(keep=False)]

    # Elimina las filas duplicadas y crea un nuevo DataFrame
    df_sin_duplicados = df.drop_duplicates(keep=False)

    return duplicadas, df_sin_duplicados

filas_duplicadas, df_sin_duplicados = eliminar_filas_duplicadas(result_df)

In [12]:
df_sin_duplicados.to_excel('eatotifacmanet.xlsx', index=False)